<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">

	<parameter name="url"
		value="https://dev96966.service-now.com"></parameter>

	<test thread-count="5" name="Test" verbose="5">

		<classes>
			<class name="org.servicenow.testcases.TC001_CreateNewChange"></class>
			<class name="org.servicenow.testcases.TC002_AssessTheChangeRequest"></class>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
